@CHARSET "EUC-KR";

	body { font-family: Segoe UI; }
	body a { text-decoration:none; color:black; }
	body a:hover { color:gray; font-weight:bold; }
	footer {width:auto; height:auto; clear:both; margin-left:auto; margin-right:auto;
					font-family: Segoe UI; font-size: 50%; font-weight:bold; }
	footer a:hover { text-decoration:none; font-weight:bold; color:black; }

	.nav {
		display: grid;
  	position: fixed; /* 네비게이션 바를 고정시킴 */
  	top: 0; /* 페이지 최상단에 네비게이션 바를 위치 */
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 그리드 목록 당 공간 */
		grid-column: 1/ 5;    /* about, photos, videos, diary, calender */
		grid-row: 1;
	}
	.nav-about{

	}
	.nav-photos{

	}
	.nav-videos{

	}
	.nav-diary{

	}
	.nav-calender{

	}

	#date { font-family: Segoe UI; }
	#clock { font-family: Seogoe UI; }

	/* responsive css start line */
	/*
	##Device = Desktops
	##Screen = 1281px to higher resolution desktops
	##Device = 데스크탑
	##Screen = 1281px 이상 해상도 데스크탑
	*/
	@media (min-width: 1281px) {
		.film_box { width: 100%; }
		img { max-width: 35%; height: auto; }
	}
	/*
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
	##Device = 랩탑, 데스크탑
	##Screen = 1025px에서 1280px 사이
	*/

	@media (min-width: 1025px) and (max-width: 1280px) {
		.film_box { width: 100%; }
		img { max-width: 45%; height: auto; }
	}
	/*
	##Device = Tablets, Ipads (portrait),
	##Screen = B/w 768px to 1024px
	##Device = 태블릿, 아이패드(세로),
	##Screen = 768px에서 1024px 사이
	*/

	@media (min-width: 768px) and (max-width: 1024px) {
		.film_box { width: 100%; }
		img { max-width: 60%; height: auto; }
	}
	/*
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
	##Device = 태블릿, 아이패드(가로)
	##Screen = 768px에서 1024px 사이
	*/
	@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
		.film_box { width: 100%; }
		img { max-width: 70%; height: auto; }

	}
	/*
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
	##Device = 저해상도 태블릿, 모바일(가로)
	##Screen = 481px에서 767px 사이
	*/
	@media (min-width: 481px) and (max-width: 767px) {
		.film_box { width: 100%; }
		img { max-width: 80%; height: auto; }
	}
	/*
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
	##Device = 대부분의 스마트폰 모바일 기기(세로)
	##Screen = 320px에서 479px 사이
	*/
	@media (min-width: 320px) and (max-width: 480px) {
		.film_box { width: 100%; }
		img { max-width: 100%; height: auto; }
	}
	/* responsive css end line */

	/* snowflake start line */
	.snowflake {
	  color: #fff;
	  font-size: 1em;
	  font-family: Arial, sans-serif;
	  text-shadow: 0 0 5px #000;
	}
	@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
	/* snowflake end line */
