@CHARSET "EUC-KR";

	body { font-family: Arial, sans-serif; }
	body a { text-decoration:none; color:black; font-family: Arial, sans-serif;}
	body a:hover { text-decoration:underline; font-family: Arial, sans-serif; }
	footer { width:auto; height:auto; clear:both; margin-left:auto; margin-right:auto;
					font-family: Arial, sans-serif;  }
	footer a:hover { text-decoration:underline; color:black; }

	.nav {
		display: grid;
  	position: fixed; /* 네비게이션 바를 고정시킴 */
  	top: 0; /* 페이지 최상단에 네비게이션 바를 위치 */
		grid-template-columns: repeat(5, 1fr);
  	grid-gap: 1rem; /* 그리드 목록 당 공간 */
		grid-column: 1/ 5;    /* about, photos, videos, diary, calender */
		grid-row: 1;
		font-family: Arial, sans-serif;
	}
	.nav-about{

	}
	.nav-photos{

	}
	.nav-videos{

	}
	.nav-diary{

	}
	.nav-calender{

	}
	.calender-content {
		position: relative;
		height: 0;
		overflow: hidden;
	}
	.calender-content iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#date { font-family: Arial, sans-serif; }
	#clock { font-family: Arial, sans-serif; }

	/* responsive css start line */
	/*
	##Device = Desktops
	##Screen = 1281px to higher resolution desktops
	##Device = 데스크탑
	##Screen = 1281px 이상 해상도 데스크탑
	*/
	@media (min-width: 1281px) {
		.img-wrapper { width: 100%; }
		img { max-width: 35%; height: auto; }
		.calender-content {	padding-bottom: 45%; }
	}
	/*
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
	##Device = 랩탑, 데스크탑
	##Screen = 1025px에서 1280px 사이
	*/

	@media (min-width: 1025px) and (max-width: 1280px) {
		.img-wrapper { width: 100%; }
		img { max-width: 45%; height: auto; }
		.calender-content {	padding-bottom: 55%; }
	}
	/*
	##Device = Tablets, Ipads (portrait),
	##Screen = B/w 768px to 1024px
	##Device = 태블릿, 아이패드(세로),
	##Screen = 768px에서 1024px 사이
	*/

	@media (min-width: 768px) and (max-width: 1024px) {
		.img-wrapper { width: 100%; }
		img { max-width: 60%; height: auto; }
		.calender-content {	padding-bottom: 65%; }
	}
	/*
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
	##Device = 태블릿, 아이패드(가로)
	##Screen = 768px에서 1024px 사이
	*/
	@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
		.img-wrapper { width: 100%; }
		img { max-width: 70%; height: auto; }
		.calender-content {	padding-bottom: 65%; }
	}
	/*
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
	##Device = 저해상도 태블릿, 모바일(가로)
	##Screen = 481px에서 767px 사이
	*/
	@media (min-width: 481px) and (max-width: 767px) {
		.img-wrapper { width: 100%; }
		img { max-width: 80%; height: auto; }
		.calender-content {	padding-bottom: 75%; }
	}
	/*
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
	##Device = 대부분의 스마트폰 모바일 기기(세로)
	##Screen = 320px에서 479px 사이
	*/
	@media (min-width: 320px) and (max-width: 480px) {
		.img-wrapper { width: 100%; }
		img { max-width: 100%; height: auto; }
		.calender-content {	padding-bottom: 100%; }
	/* responsive css end line */
