@CHARSET "EUC-KR";

	nav {width:1000px height:50px; background-color:##A8A8A8;
		 margin:auto; clear:both; text-align:center;
		 font-family: courier new; color: black;
		 spadding-inline-start: 0px;}
	nav a { text-decoration:none; color:black; }
	nav a:hover { color:gray; font-weight:bold; }
	body { font-family: Segoe UI; }
	body a { text-decoration:none; color:black; }
	body a:hover { color:gray; font-weight:bold; }
	footer {width:auto; height:auto; clear:both; margin-left:auto; margin-right:auto;
					font-family: Segoe UI; font-size: 50%; font-weight:bold; }
	footer a:hover { text-decoration:none; font-weight:bold; color:black; }

	#date { font-family: Segoe UI; }
	#clock { font-family: Seogoe UI; }
	#bodyul { padding-inline-start: 0px; padding: 0px; }

	/* photobox start line */
	.film_box,
	.film_box * { box-sizing: border-box; }
	.film_box { position: relative; display: inline-block;
			        overflow: hidden; max-width: 60%; height: auto; }
	.film_box img { max-width: 60%; }
	.film_box .film_pic { display: block; }
	.film_box .film_layer_top { opacity: 0; position: absolute;
															top: 0; left: 0; right: 0;
															bottom: 0; width: 60%; height: 60%;
															background: rgba(0, 0, 0, 0.6);
															color: #fff; padding: 15px;
															-moz-transition: all 0.4s ease-in-out 0s;
															-webkit-transition: all 0.4s ease-in-out 0s;
															-ms-transition: all 0.4s ease-in-out 0s;
															transition: all 0.4s ease-in-out 0s; }
	.film_box:hover .film_layer_top,
	.film_box.active .film_layer_top { opacity: 1; }
	.film_box .film_text { text-align: center; font-size: 18px;
												 display: inline-block; position: absolute;
												 top: 50%; left: 50%;
												 -moz-transform: translate(-50%, -50%);
												 -webkit-transform: translate(-50%, -50%);
												 -ms-transform: translate(-50%, -50%);
												 transform: translate(-50%, -50%); }
	/* photobox end line */

	/* snowflake start line */
	.snowflake {
	  color: #fff;
	  font-size: 1em;
	  font-family: Arial, sans-serif;
	  text-shadow: 0 0 5px #000;
	}
	@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
	/* snowflake end line */
