@CHARSET "EUC-KR";

	body { font-family: Neue Haas Grotesk, sans-serif }
	body a { text-decoration:none; color:black; font-family: Neue Haas Grotesk, sans-serif}
	body a:hover { text-decoration:underline; font-family: Neue Haas Grotesk, sans-serif }
	footer { width:auto; height:auto; clear:both; margin-left:auto; margin-right:auto;
					font-family: Arial, sans-serif;  }
	footer a:hover { text-decoration:underline; color:black; }

	.nav {
  	position: fixed; /* 네비게이션 바를 고정시킴 */
 	 	top: 0; /* 페이지 최상단에 네비게이션 바를 위치 */
		font-family: Neue Haas Grotesk, sans-serif;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
  	grid-gap: 1em; /* 그리드 목록 당 공간 */
		/* grid-column: 1/ 5;    /* about, photos, videos, calender */
		grid-auto-rows: auto;
	}
	.nav-about{

	}
	.nav-photos{

	}
	.nav-videos{

	}
	.nav-diary{

	}
	.nav-calender{

	}
	.calender-content {
		position: relative;
		height: 0;
		overflow: hidden;
	}
	.calender-content iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.link {
		font-size: small;
	}

	/* date, clock style에 "display: inline-block"로 가로로 나열함 */
	#date { display: inline-block; font-family: Neue Haas Grotesk, sans-serif }
	#clock { display: inline-block; font-family: Neue Haas Grotesk, sans-serif }

	/* responsive css start line */
	/*
	##Device = Desktops
	##Screen = 1281px to higher resolution desktops
	##Device = 데스크탑
	##Screen = 1281px 이상 해상도 데스크탑
	*/
	@media (min-width: 1281px) {
		.img-wrapper { width: 100%; }
		img { max-width: 40%; height: auto; }
		.calender-content {	padding-bottom: 45%; }
	}
	/*
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
	##Device = 랩탑, 데스크탑
	##Screen = 1025px에서 1280px 사이
	*/

	@media (min-width: 1025px) and (max-width: 1280px) {
		.img-wrapper { width: 100%; }
		img { max-width: 50%; height: auto; }
		.calender-content {	padding-bottom: 55%; }
	}
	/*
	##Device = Tablets, Ipads (portrait),
	##Screen = B/w 768px to 1024px
	##Device = 태블릿, 아이패드(세로),
	##Screen = 768px에서 1024px 사이
	*/

	@media (min-width: 768px) and (max-width: 1024px) {
		.img-wrapper { width: 100%; }
		img { max-width: 60%; height: auto; }
		.calender-content {	padding-bottom: 65%; }
	}
	/*
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
	##Device = 태블릿, 아이패드(가로)
	##Screen = 768px에서 1024px 사이
	*/
	@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
		.img-wrapper { width: 100%; }
		img { max-width: 70%; height: auto; }
		.calender-content {	padding-bottom: 75%; }
	}
	/*
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
	##Device = 저해상도 태블릿, 모바일(가로)
	##Screen = 481px에서 767px 사이
	*/
	@media (min-width: 481px) and (max-width: 767px) {
		.img-wrapper { width: 100%; }
		img { max-width: 80%; height: auto; }
		.calender-content {	padding-bottom: 85%; }
	}
	/*
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
	##Device = 대부분의 스마트폰 모바일 기기(세로)
	##Screen = 320px에서 479px 사이
	*/
	@media (min-width: 320px) and (max-width: 480px) {
		.img-wrapper { width: 100%; }
		img { max-width: 100%; height: auto; }
		.calender-content {	padding-bottom: 100%; }
	}


	/* responsive css end line */
	.row {
  	display: flex;
  	flex-wrap: wrap;
  	padding: 0 4px;
	}

	/* Create two equal columns that sits next to each other */
	.column {
  	flex: 50%;
  	padding: 0 4px;
	}

	.column img {
  	margin-top: 8px;
  	vertical-align: middle;
	}

	.row {
	  display: -ms-flexbox; /* IE10 */
	  display: flex;
	  -ms-flex-wrap: wrap; /* IE10 */
	  flex-wrap: wrap;
	  padding: 0 4px;
	}

	/* Create four equal columns that sits next to each other */
	.column {
	  -ms-flex: 25%; /* IE10 */
	  flex: 25%;
	  max-width: 25%;
	  padding: 0 4px;
	}

	.column img {
	  margin-top: 8px;
	  vertical-align: middle;
	  width: 100%;
	}

	/* Responsive layout - makes a two column-layout instead of four columns */
	@media screen and (max-width: 800px) {
	  .column {
	    -ms-flex: 50%;
	    flex: 50%;
	    max-width: 50%;
	  }
	}

	/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 600px) {
	  .column {
	    -ms-flex: 100%;
	    flex: 100%;
	    max-width: 100%;
	  }
	}
